{
    "name": "{{{name}}}-{{{appName}}}-sdk",
    "version": "{{{version}}}",
    "description": "Client SDK for '{{{name}}}'",
    "main": "index.js",
    "scripts": {
        "test": "mocha --ui bdd --colors --check-leaks -t 5000 --reporter spec 'tests/**/*.js'"
    },
    "keywords": [
        "bistudio",
        "client",
        "sdk",
        "API"
    ],
    "author": "Bohemia Interactive",
    "private": false
}
