//package location $PACKAGE_ROOT/tests/{{{version}}}.js

Promise            = require('bluebird');
var sinon          = require('sinon');
var chai           = require('chai');
var chaiAsPromised = require('chai-as-promised');
var sinonChai      = require("sinon-chai");
var sdkInterface   = require('bi-service-sdk');

var sdk = require('../{{{version}}}.js');
var moduleIndexJs = require('../index.js');


//this makes sinon-as-promised available in sinon:
require('sinon-as-promised');

var expect = chai.expect;

chai.use(sinonChai);
chai.use(chaiAsPromised);
chai.should();

var context = {{{context}}};
var HAS_HOST = context.host ? true : false;

describe('index.js', function() {
    it(`should export SDK verion ${context.version}`, function() {
        moduleIndexJs.should.have.property(context.version, sdk);
    });
});

describe(context.moduleName, function() {
});
