{
    "name": "{{{name}}}-{{{appName}}}-sdk",
    "version": "{{{version}}}",
    "description": "Client SDK for '{{{name}}}'",
    "main": "index.js",
    "keywords": [
        "bistudio",
        "client",
        "sdk",
        "API"
    ],
    "author": "Bohemia Interactive",
    "private": false,
    "peerDependencies": {
        "bi-service-sdk": "^0.5.x"
    }
}
